
.title {
    text-align: center;
    font-weight: bold;
    color: black;
    margin-bottom: 80px;
    text-transform: uppercase
}

.custom-btn-1 {
    border-color: #c77a29;
    background-color: #c77a29;
}

.custom-btn-1 a {
    color: white;
}

.custom-btn-1:hover {
    background-color: #b77632;
    border-color: #c77a29;
}

.custom-btn-1:hover a {
    color: white;
}

.dis123 {
    right: 0;
    width: 45%;
    position: absolute;
    bottom: 0
}

.custom-btn {
    border-color: #747264;
    color: white;
    background-color: #747264;
}

.custom-btn:hover {
    background-color: #5d5b54;
    border-color: #747264;
    color: white;
}
