/* .container{
    background-color: #E0CCBE;
} */
.table-header-list-contract{
    background-color: #747264;
    color: #fff
}
.btn-action-list-contract{
    background-color: #E0CCBE;
}
.btn-action-list-contract:hover{
    background-color: #b89c8a;
}


.link-create-contract{
    text-decoration: none;
    text-align: right;
}

